<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo</title>
    <link rel="stylesheet" href="/stylesheets/style_login_register.css">
  </head>
  <body>
    <div class="wrapper">
      <div class="title">
        Login Form
      </div>
      <div class="form">
        <div class="input_feild">
          <label>UserName</label>
          <input type="text" class="input" name="username">
        </div>
        <div class="input_feild">
          <label>Password</label>
          <input type="password" class="input" name="password" value="">
        </div>
        <div class="input_feild">
          <input type="submit" class="btn" value="Register">
        </div>
      </div>
    </div>
  </body>
</html>
